body {
    background: chartreuse;
}

h1 {
  color:purple;
  background-color:green;
  text-align:center;
}
h2 {
    color:red;
    background:green;
    text-align: center;
}
body {
    background: yellow;
    font-family: 'Metal Mania', system-ui;
}
img {
    max-width:50%;
}

.list {
    font-family: 'Metal Mania', system-ui;
}
.list {
    font-weight: bold;
    color: indianred;
    font-size: 2em;
}

@media only screen and (max-width: 800px) {
    body {
        background: blue
    }
}